{% extends 'base.html.twig' %}

{% block title %}Summary index{% endblock %}

{% block body %}
    <h1>Summary index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for summary in summaries %}
            <tr>
                <td>{{ summary.id }}</td>
                <td>{{ summary.name }}</td>
                <td>{{ summary.description }}</td>
                <td>
                    <a href="{{ path('summary_show', {'id': summary.id}) }}">show</a>
                    <a href="{{ path('summary_edit', {'id': summary.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('summary_new') }}">Create new</a>
{% endblock %}
